<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Cabinet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-page">

    <div class="login-box">

        <div class="logo">
            🎓
        </div>

        <h1>Личный кабинет студента</h1>

        <p class="group-text">
            Группа ПОР-2
        </p>

        <form method="POST" class="login-form">

            <input type="text"
                   name="username"
                   placeholder="Логин"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Пароль"
                   required>

            <button type="submit">
                Войти
            </button>

        </form>

        <div class="teachers-box">

            <h3>Преподаватели</h3>

            <div class="teacher-card">
                👩‍🏫 Гулдана Толепбергенова
            </div>

            <div class="teacher-card">
                👩‍🏫 Мадина Нурлыхановна
            </div>

        </div>

    </div>

</div>

</body>
</html>